.elementsDiv {
    position: absolute;
}
#elementPanel {
    float: left;
    z-index: 1;
}
#visages {
    z-index: 2;
    top: 150px;
    left: 230px;
}
#yeux {
    top: 230px;
    left: 280px;
    z-index: 3;
}
#nez {
    top: 300px;
    left: 290px;
    z-index: 4;
}
#bouches {
    z-index: 5;
    top: 430px;
    left: 290px;
}
#oreilles-dte {
    top: 300px;
    left: 145px;
    z-index: 6;
}
#oreilles-gche {
    top: 200px;
    left: 470px;
    z-index: 6;
}
#joues-dte {
    top: 330px;
    left: 230px;
    z-index: 7;
}
#joues-gche {
    top: 330px;
    left: 450px;
    z-index: 7;
}
#mentons {
    top: 400px;
    left: 700px;
    z-index: 9;
}
#cheveux {
    top: 10px;
    left: 700px;
    z-index: 9;
}
#divers {
    top: 550px;
    left: 700px;
    z-index: 9;
}