* {
    outline-style: none;
}
body {
    margin: 0;
}
nav {
    min-height: 1000px;
    width: 130px;
    height: 100%;
    background-color: #ccc;
    z-index: 999;
    text-align: center;
    position: relative;
}
#toolbar {
    box-shadow: 6px -12px 20px #aaa;
    float: left;
    background: #ccc;
}
#imgbrowser {
    box-shadow: -6px -12px 20px #aaa;
    padding-left: 14px;
    float: right;
    text-align: left;
    width: 280px;
    background: #ccc;
}
.hidden {
    display: none;
}
.draggable {
    display: inline-block;
    padding: 0;
    border: 1px solid transparent;
    background: none transparent;
    position: relative;
}
.draggable:hover {
    border: 1px solid #aaa;
}
.draggable.infoDlg {
    cursor: move;
}
.draggable.infoDlg:hover {
    border-color: #666;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: none;
}
.selected, .selected:hover {
    border: 1px dashed red;
}
.nav-btn {
    width: 60px;
    height: 60px;
    margin: 6px 30px;
    position: relative;
    background: none transparent;
    border-radius: 6px;
    border: 1px solid #fff;
    border-bottom-color: #666;
    border-right-color: #666;
}
.nav-btn:hover {
    box-shadow: 0 0 4px #666;
}
.nav-btn:active {
    top: 1px;
    left: 1px;
}
#imgbrowser .brwsr-btn {
    display: inline-block;
    height: 30px;
    margin: 5px;
    padding: 5px;
    text-align: left;
    width: 30px;
}
.active {
    position: relative;
    top: 1px;
    left: 1px;
    border: 1px solid #666;
    border-bottom-color: #fff;
    border-right-color: #fff;
    background-color: #7d9;
}
.active:hover {
    border: 1px solid #666;
    border-bottom-color: #fff;
    border-right-color: #fff;
}
.close {
    color: #999;
    cursor: pointer;
    font-family: arial;
    font-size: x-large;
    font-weight: bold;
    padding: 6px;
    position: absolute;
    right: 4px;
    top: -4px;
}
.close:hover {
    display: block;
    color: #666;
}
.center {
    text-align: center;
    margin-top: 20px;
}
.toolBarName {
    color: #777;
    font-size: 12px;
    font-weight: normal;
    font-family: Tahoma;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}
.toolBarName h2 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
.flipx {
    transform: scaleX(-1);
    filter: 'FlipH';
}
.flipy {
    transform: scaleY(-1);
    filter: 'FlipV';
}

