<reload-choice-dlg></reload-choice-dlg>
<div id="elementPanel">
    <div id="{{cat.name}}" class="elementsDiv" ng-repeat="cat in categories" ng-init="cat">
        <div ng-repeat="element in elements" ng-if="element.category==cat.name && element.status" class="element draggable ui-widget-content">
            <span class="close" title="fermer" ng-click="unsetActive($index)">X</span>
            <img ng-src="{{element.src}}" alt="{{element.name}}" rel="{{element.category}}" width="100%" height="100%">
            <div class="info hidden">
                <span class="h_name">{{element.name}}</span><br/>
                <span class="h_posX">0</span>
                <span class="h_posY">0</span><br/>
                <span class="h_width">0</span>
                <span class="h_height">0</span>
                <span class="h_zindex">0</span><br/>
                <span class="h_rotate">rotate(0deg)</span>
                <span class="h_flipx">false</span>
                <span class="h_flipy">false</span>
            </div>
        </div>
    </div>
</div> 
<div id="reloadPanel">
    <div id="reloadIndex" ng-bind="reloadIndex" class="hidden"></div>
    <div id="{{cat.name}}" class="elementsDiv" ng-repeat="cat in categories" ng-init="cat">
        <div ng-repeat="element in reloadedTronches[getIndex()].reloadedElements" 
            ng-if="element.category==cat.name && element.status" 
            class="element draggable ui-widget-content" 
            style= "width:{{element.width}}px;
                    height:{{element.height}}px;
                    left:{{element.position.left}}px;
                    top:{{element.position.top}}px;
                    z-index:{{element.zIndex}};
                    transform:{{element.transform}};"
            >
            <span class="close" title="fermer" ng-click="unsetActive($index)">X</span>
            <img ng-src="{{element.src}}" alt="{{element.name}}" rel="{{element.category}}" width="100%" height="100%">
            <div class="info hidden">
                <span class="h_name">{{element.name}}</span><br/>
                <span class="h_posX">{{element.position.left}}</span>
                <span class="h_posY">{{element.position.top}}</span><br/>
                <span class="h_width">{{element.width}}</span>
                <span class="h_height">{{element.height}}</span>
                <span class="h_zindex">{{element.zIndex}}</span><br/>
                <span class="h_rotate">{{element.transform}}</span>
                <span class="h_flipx">{{element.flipx}}</span>
                <span class="h_flipy">{{element.flipy}}</span>
            </div>
        </div>
    </div>
</div>
