<nav id="imgbrowser" ng-mouseleave='enable()'>
    <h2 class="toolBarName">éléments</h2>
    <div id="brswr_{{cat.name}}" ng-repeat="cat in categories" ng-init="cat">
        <h3 class="toolBarName">{{cat.name}}</h3>
        <div id="btn_{{$index}}" class="nav-btn brwsr-btn" ng-if="element.category==cat.name" 
            ng-repeat="element in elements" ng-click="setActive($index)" ng-class="classActive($index)">
            <img ng-src="{{element.src}}" alt="{{element.name}}" width="30px" height="30px"/>
        </div>
    </div>
</nav>
