<!-- Masqué en attendant mieux ;)
    TODO gestion du drag and drop par angular, @lib/drag.js @lib/slider.js en remplacement de jquery @lib/tronchotron.js
    TODO @navCtrl elementMove() gestion des events mousedown et mouse up
-->
<!--
<input type="checkbox" ng-model="checked" ng-init="checked=false" />
<span id='moveLbl'>boutons de déplacement</span>
<div  class="visible-md visible-xs visible-sm" ng-if="checked">
    <button class="nav-btn" id="btn-up" title="en haut" ng-click="elementMove('up')">
        up
    </button>
    <button class="nav-btn" id="btn-down" title="en bas" ng-click="elementMove('down')">
        down
    </button>
    <button class="nav-btn" id="btn-left" title="à gauche" ng-click="elementMove('left')">
        left
    </button>
    <button class="nav-btn" id="btn-right" title="à droite" ng-click="elementMove('right')">
        right
    </button>
</div>
-->