<div class="modal fade" id="modalReloadChoice" 
     tabindex="-1" role="dialog" aria-hidden="true" 
     aria-labelledby="ouvrir une tronche"
     >
    <div class="modal-dialog">
        <div id="reloadChoice" ng-mouseleave="enable()" 
             class="draggable infoDlg modal-content">
            <span ng-controller="navCtrl" class="close"
                  title="fermer" data-dismiss="modal"
                  ng-click="dlgHide('reloadChoice')"> X </span>
            <div>
                <h2>Recharger une tronche</h2>
            </div>
            <div>
                <class="modal-body">
                    <p>
                        Choisissez une tronche à ouvrir...
                        <select ng-model="reloadIndex">
                            <option ng-repeat="obj in reloadedTronches">
                                {{obj.index}} - {{obj.name}}
                            </option>
                        </select>
                    </p>
                    <button class="btn btn-default" 
                            data-dismiss="modal">
                        Fermer
                    </button>
            </div>
        </div>
    </div>
