<nav id="toolbar" ng-controller="navCtrl">
    <h2 class="toolBarName">modifications</h2>
    <button ng-repeat="btn in navBtn" class="nav-btn" 
            id="btn-{{btn.id}}" title="{{btn.title}}"
            ng-click="btn.fn()"></button>
    <move-btns></move-btns>    
    <div class="lbl">
        <h2 class="toolBarName">Sélectionné :</h2>
        <div class="infolbl">
            nom : <span id="name"></span> 
            <br />
            posX : <span id="posx">0</span>px
            <br />
            posY : <span id="posy">0</span>px
            <br />
            z-index : <span id="zindex"></span>
            <br />
            rotation : <span id="rotate">0</span>deg
            <br />
            FlipX : <span id="flipx">false</span>
            <br />
            FlipY : <span id="flipy">false</span>
            <br />
        </div>
    </div>
    
</nav>
