<nav id="toolbar" ng-controller="navCtrl">
    <h2 class="toolBarName">modifications</h2>
    <move-btns></move-btns>
    <!-- TODO remplacer les attributs boostrap 
         data-* par un controller ui.bootstrap
         et virer le bootstrap.min.js de l'index -->   
    <button ng-repeat="btn in navBtn" class="nav-btn" 
            id="btn-{{btn.id}}" title="{{btn.title}}" 
            ng-click="btn.fn()" data-toggle="{{btn.dataToggle}}" 
            data-target="{{btn.dataTarget}}">
            {{btn.text}}
    </button>
    <div class="lbl">
        <h2 class="toolBarName">Sélectionné :</h2>
        <div class="infolbl">
            nom: <span id="name"></span> 
            <br />
            posX: <span id="posx">0</span>px
            <br />
            posY: <span id="posy">0</span>px
            <br />
            z-index: <span id="zindex"></span>
            <br />
            transform: <br>
            <span id="rotate">rotate(0deg)</span>
            <br />
            flipX: <span id="flipx">false</span>
            <br />
            flipY: <span id="flipy">false</span>
            <br />
            width: <span id="width">0</span>px
            <br />
            height: <span id="height">0</span>px
            <br />
            
        </div>
    </div>
    
</nav>
